{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Authentic Spanish Language</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href= "{% static "css/freelancer.css" %}" rel = "stylesheet">

    <!-- Custom Fonts -->
    <link href= "{% static "css/font-awesome.css" %}" rel = "stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    {% block nav %}
    {% include "main/base/nav.html" %}
    {% endblock %}

    <!-- Header -->
    {% block head %}
    {% endblock %}
    <!-- Content -->
    {% block content %}    
    {% endblock %}
    <!-- Footer -->
    {% block footer %}
    {% include "main/base/footer.html" %}
    {% endblock %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <!--<script src= "{% static "js/jquery.js" %}"></script>-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src= "{% static "js/classie.js" %}"></script>
    <script src= "{% static "js/cbpAnimatedHeader.js" %}"></script>

    <!-- Mustache JavaScript -->
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src= "{% static "js/jqBootstrapValidation.js" %}"></script>
    <script src= "{% static "js/contact_me.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src= "{% static "js/freelancer.js" %}"></script>

    {% block javascript_scripts %}
    {% verbatim %}
    <script type="text/javascript">
        function loadCategoryData(category_type) {
            $.getJSON("/data/categories/?category_type=" + category_type + "&format=json", function (json) {
                var template = $('#template').html();
                Mustache.parse(template);
                var data = {
                    array: json,
                    "dateString": function () {
                        return function (text, render) {
                          return new Date(render(text)).toString();
                        }
                    }
                };
                var rendered = Mustache.render(template, data);
                    
                $('#category_portfolio_modals_container' + category_type).html(rendered);
                //setTimeout(loadData(category_type), 5000);
            });
        }
        $(document).ready(function () {
            $(".category_portfolio_modals_container").each(function() {
                //alert(this.id);
                loadCategoryData(this.id.replace(/\D/g,''));
            });
        });
    </script>
    <script id="template" type="x-tmpl-mustache">
        {{ #array }}
        <a href = "/{{ slug }}"><h3>{{ category }}</h3></a>
        {{ /array }}
    </script>
    {% endverbatim %}
    {% endblock %}
</body>
</html>