{% extends 'main/base.html' %}
{% load embed_video_tags %}
{% block nav %}
    {% include "main/base/nav.html" %}
{% endblock %}
{% block head %}
{% endblock %}


{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id = "search_table" class = "container">
    <p> Loading contents...</p>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascript_scripts %}
<script type="text/javascript">
    function loadData(first_name, last_name, difficulty, country, title, categories) {
        uri_params = "";
        if (first_name.length > 0) {
            uri_params += "&first_name=" + encodeURI(first_name);

        }
        if (last_name.length > 0) {
            uri_params += "&last_name=" + encodeURI(last_name);
        }
        if (difficulty.length > 0) {
            uri_params += "&difficulty=" + encodeURI(difficulty);
        }
        if(country.length > 0) {
            uri_params += "&country=" + encodeURI(country);
        }
        if (title.length > 0) {
            uri_params += "&title=" + encodeURI(title);
        }
        if(categories.length > 0) {
            uri_params += "&categories=" + encodeURI(categories);
        }
        alert(uri_params);
        $.getJSON("/data/contents/?format=json&" + uri_params, function (json) {
            var template = $('#table_template').html();
            Mustache.parse(template);
            var data = {
                array: json,
                "dateString": function () {
                    return function (text, render) {
                      return new Date(render(text)).toString();
                    }
                }
            };
            var rendered = Mustache.render(template, data);
                
            $('#search_table').html(rendered);
        });
    }
    $(document).ready(function () {
        loadData("","","","","","other");
    });
</script>
{% verbatim %}
<script id="table_template" type="x-tmpl-mustache">
    <table class = "table" style = "width:100%">
        <!--<caption>Stuff</caption>-->
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Pais</td>
            <td>Titulo</td>
        </tr>
        {{ #array }}
        <tr>
            <td>{{ first_name }}</td>
            <td>{{ last_name }}</td>
            <td>{{ country.country }}</td>
            <td>{{ title }}</td>
        </tr>
        {{ /array }}
    </table>  
</script>
{% endverbatim %}
{% endblock %}