<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Index</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            {% include "main/home/index_table.html" %}
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/searchtable" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Search for More
                </a>
            </div>
        </div>
    </div>
</section>