<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-offset-3 col-md-6 col-md-offset-3">
                    <h3>Location</h3>
                    <iframe class= "location-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104352.44293816897!2d-111.607959!3d35.18120755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872d8ef7da2e2631%3A0x8e1f3ca1cedbb300!2sFlagstaff%2C+AZ!5e0!3m2!1sen!2sus!4v1440294325189" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <p>Northern Arizona University<br>Flagstaff, AZ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Authentic Spanish Language 2015
                </div>
            </div>
        </div>
    </div>
</footer>