<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Categories</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#difficultyPortfolioModal" class="portfolio-link" data-toggle="modal">
                    <!--<div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>-->
                    <h2>Difficulty</h2>
                    <!--<img src="img/portfolio/cabin.png" class="img-responsive" alt="Nivel">-->
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#countryPortfolioModal" class="portfolio-link" data-toggle="modal">
                    <!--<div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>-->
                    <h2>Country</h2>
                    <!--<img src="img/portfolio/cabin.png" class="img-responsive" alt="Nivel">-->
                </a>
            </div>
            {% for p in category_types %}
            <div class="col-sm-4 portfolio-item">
                <a href="#categoryPortfolioModal{{ p.id }}" class="portfolio-link" data-toggle="modal">
                    <!--<div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>-->
                    <h2>{{ p.category_type }}</h2>
                    <!--<img src="img/portfolio/cabin.png" class="img-responsive" alt="Nivel">-->
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>